<%= _.render('inc/head', obj) %>
<%= _.render('inc/pageTop', obj) %>
<table>
	<thead>
		<tr>
			<th>Uuid</th>
			<th>Slug</th>
		</tr>
	</thead>
	<tbody>
	<% _.forEach(obj.files, function(file) { %>
		<tr>
			<td><a href="/adminFileEdit?uuid=<%= file.uuid %>"><%= file.uuid.substring(0, 8) %></a></td>
			<td><%= file.slug %></td>
		</tr>
	<% }); %>
	</tbody>
</table>
<%= _.render('inc/pageBottom', obj) %>
